.row
  .col-md-6
    %h3 Standard dropdown
    .dropdown
      %ul.dropdown-menu.sg-show{"aria-labelledby" => "dropdownMenu1", :role => "menu"}
        %li{:role => "presentation"}
          %a{:href => "#", :role => "menuitem", :tabindex => "-1"} 
            Action
        %li{:role => "presentation"}
          %a{:href => "#", :role => "menuitem", :tabindex => "-1"} 
            Another action
        %li{:role => "presentation"}
          %a{:href => "#", :role => "menuitem", :tabindex => "-1"} 
            Something else here
        %li{:role => "presentation"}
          %a{:href => "#", :role => "menuitem", :tabindex => "-1"} 
            Separated link

  .col-md-6
    %h3 Dropdown with search
    .dropdown
      %ul.dropdown-menu.sg-show{"aria-labelledby" => "dropdownMenu1", :role => "menu"}
        %li.dropdown__search{:role => "presentation"}
          .input-with-icon
            %input.form-control{placeholder: "Search", type: "text"}
            .input-icon
              %span.icon.icon--search
        %li{:role => "presentation"}
          %a{:href => "#", :role => "menuitem", :tabindex => "-1"} 
            Another action
        %li{:role => "presentation"}
          %a{:href => "#", :role => "menuitem", :tabindex => "-1"} 
            Something else here
        %li{:role => "presentation"}
          %a{:href => "#", :role => "menuitem", :tabindex => "-1"} 
            Separated link

%br
%br
%br
%br
%br
%br
%br
%br
