%h3 Standard dropdown
.dropdown
  %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", :role => "menu",  :style => "display:block; position:relative; float: none"}
    %li{:role => "presentation"}
      %a{:href => "#", :role => "menuitem", :tabindex => "-1"} 
        Action
    %li{:role => "presentation"}
      %a{:href => "#", :role => "menuitem", :tabindex => "-1"} 
        Another action
    %li{:role => "presentation"}
      %a{:href => "#", :role => "menuitem", :tabindex => "-1"} 
        Something else here
    %li{:role => "presentation"}
      %a{:href => "#", :role => "menuitem", :tabindex => "-1"} 
        Separated link

%h3 Primary dropdown
.dropdown
  %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", :role => "menu",  :style => "display:block; position:relative; float: none"}
    %li{:role => "presentation"}
      %a{:href => "#", :role => "menuitem", :tabindex => "-1"} 
        Action
    %li{:role => "presentation"}
      %a{:href => "#", :role => "menuitem", :tabindex => "-1"} 
        Another action
    %li{:role => "presentation"}
      %a{:href => "#", :role => "menuitem", :tabindex => "-1"} 
        Something else here
    %li{:role => "presentation"}
      %a{:href => "#", :role => "menuitem", :tabindex => "-1"} 
        Separated link