%table
  %thead
    %tr
      %th{colspan: '3'}
        %h3 Button Styles
  %tbody
    %tr
      %td
        %button.btn{href: '#'} Hello
      %td Button
      %td .btn.btn-default
    %tr
      %td
        %a.btn.btn--primary{href: '#'} Hello
      %td Primary Button
      %td .btn.btn-primary
    %tr
      %td
        %a.btn.btn--secondary{href: '#'} Hello
      %td Secondary Button
      %td .btn .btn--secondary
    %tr
      %td
        %a.btn.btn--negative{href: '#'} Hello
      %td Negative Button
      %td .btn .btn--negative
    %tr
      %td
        %a.btn.btn--empty{href: '#'} Hello
      %td Empty Button
      %td .btn .btn--empty
    %tr
      %td
        %a.btn.disabled{href: '#'} Hello
      %td Disabled Button
      %td .btn.disabled
    %tr
      %td
        %button.btn.btn--full{href: '#'} Hello
      %td Full width button
      %td .btn .btn--full
    %tr
      %td
        %button.btn.btn--soft{href: '#'} Hello
      %td Rounded button
      %td .btn .btn--pill
    %tr
      %td
        %button.btn.btn--hard{href: '#'} Hello
      %td Non rounded button
      %td .btn .btn--hard
    %tr
      %td
        Lorem ipsum
        %button.btn.btn--natural{href: '#'} Hello
        id est laborum.
      %td A button within parent element
      %td .btn .btn--natural
