%table.table
  %thead
    %tr
      %th{colspan: '3'}
        %h3 Button Sizes
  %tbody
    %tr
      %td
        %button.btn.btn--small{href: '#'} Hello
      %td Small button
      %td .btn .btn--small
    %tr
      %td
        %button.btn.btn--medium{href: '#'} Hello
      %td Medium button
      %td .btn .btn--medium
    %tr
      %td
        %button.btn.btn--large{href: '#'} Hello
      %td Large button
      %td .btn .btn--large
    %tr
      %td
        %button.btn.btn--huge{href: '#'} Hello
      %td Huge button
      %td .btn .btn--huge
    %tr
      %td
        %button.btn.btn--alpha{href: '#'} Hello
      %td Huge text button
      %td .btn .btn--alpha
    %tr
      %td
        %button.btn.btn--beta{href: '#'} Hello
      %td Big text button
      %td .btn .btn--beta