.row.margin-bottom--20
  .btn-group
    %button.btn.btn--width-120
      %span.btn__icon.btn__icon--left.icon--navigateleft{"aria-hidden" => "true"}
      Previous

    %button.btn.btn--primary.btn--width-120
      Next
      %span.btn__icon.btn__icon--right.icon--navigateright{"aria-hidden" => "true"}

.row
  .btn-group.btn-group--tight
    %button.btn.btn--primary
      %span.btn__icon.btn__icon--settings.icon--settings{"aria-hidden" => "true"}

    %button.btn.btn--primary
      %span.btn__icon.btn__icon--right.icon--phone{"aria-hidden" => "true"}

    %button.btn.btn--primary
      %span.btn__icon.btn__icon--right.icon--database{"aria-hidden" => "true"}
    %button.btn.btn--primary
      %span.btn__icon.btn__icon--right.icon--user{"aria-hidden" => "true"}