%table
  %thead
    %tr
      %th{colspan: '3'}
        %h3 Button Icons
  %tbody
    %tr
      %td
        %button.btn.btn--small.icon.icon--left.ss-uploadcloud Hello
      %td Small button with left icon
      %td .btn.btn--small.icon.icon--left.ss-uploadcloud
    %tr
      %td
        %button.btn.icon.icon--left.ss-uploadcloud Hello
      %td Button with left icon
      %td .btn.icon.icon--left.ss-uploadcloud
    %tr
      %td
        %button.btn.btn--large.icon.icon--left.ss-uploadcloud Hello
      %td Large button with left icon
      %td .btn.btn--large.icon.icon--left.ss-uploadcloud
    %tr
      %td
        %button.btn.btn--huge.icon.icon--left.ss-uploadcloud Hello
      %td Huge button with left icon
      %td .btn.btn--huge.icon.icon--left.ss-uploadcloud
    %tr
      %td
        %button.btn.btn--alpha.icon.icon--left.ss-uploadcloud Hello
      %td Alpha button with left icon
      %td .btn.btn--alpha.icon.icon--left.ss-uploadcloud
    %tr
      %td
        %button.btn.btn--beta.icon.icon--left.ss-uploadcloud Hello
      %td Beta button with left icon
      %td .btn.btn--beta.icon.icon--left.ss-uploadcloud
    %tr
      %td
        %button.btn.btn--small.icon.icon--right.ss-loading Hello
      %td Small button with right icon
      %td .btn.btn--small.icon.icon--right.ss-loading
    %tr
      %td
        %button.btn.icon.icon--right.ss-loading Hello
      %td Button with right icon
      %td .btn.icon.icon--right.ss-loading
    %tr
      %td
        %button.btn.btn--large.icon.icon--right.ss-loading Hello
      %td Large button with right icon
      %td .btn.btn--large.icon.icon--right.ss-loading
    %tr
      %td
        %button.btn.btn--huge.icon.icon--right.ss-loading Hello
      %td Huge button with right icon
      %td .btn.btn--huge.icon.icon--right.ss-loading
    %tr
      %td
        %button.btn.btn--alpha.icon.icon--right.ss-loading Hello
      %td Alpha button with right icon
      %td .btn.btn--alpha.icon.icon--right.ss-loading
    %tr
      %td
        %button.btn.btn--beta.icon.icon--right.ss-loading Hello
      %td Beta button with right icon
      %td .btn.btn--beta.icon.icon--right.ss-loading
    %tr
      %td
        %button.btn.btn--small.icon.ss-grid
      %td Small icon button
      %td .btn.btn--small.icon.ss-grid
    %tr
      %td
        %button.btn.icon.ss-grid
      %td Icon button
      %td .btn.icon.ss-grid
    %tr
      %td
        %button.btn.btn--large.icon.ss-grid
      %td Large icon button
      %td .btn.btn--large.icon.ss-grid
    %tr
      %td
        %button.btn.btn--huge.icon.ss-grid
      %td Huge icon button
      %td .btn.btn--huge.icon.ss-grid
    %tr
      %td
        %button.btn.btn--alpha.icon.ss-grid
      %td Alpha icon button
      %td .btn.btn--alpha.icon.ss-grid
    %tr
      %td
        %button.btn.btn--beta.icon.ss-grid
      %td Beta icon button
      %td .btn.btn--beta.icon.ss-grid