%table.table
  %thead
    %tr
      %th{colspan: '3'}
        %h3 Button Styles
  %tbody
    %tr
      %td
        %button.btn{href: '#'} I'm a button
      %td Button
      %td .btn
    %tr
      %td
        %a.btn.btn--primary{href: '#'} I'm a button
      %td Primary Button
      %td .btn.btn--primary
    %tr
      %td
        %a.btn.btn--secondary{href: '#'} I'm a button
      %td Secondary Button
      %td .btn .btn--secondary
    %tr
      %td
        %a.btn.btn--negative{href: '#'} I'm a button
      %td Negative Button
      %td .btn .btn--negative
    %tr
      %td
        %a.btn.btn--link{href: '#'} I'm a button
      %td Link Button
      %td .btn.btn--link
    %tr
      %td
        %a.btn.disabled{href: '#'} I'm a button
      %td Disabled Button
      %td .btn.disabled
    %tr
      %td
        %button.btn.btn--full{href: '#'} I'm a button
      %td Full width button
      %td .btn.btn--full
