%table
  %thead
    %tr
      %th{colspan: '3'}
        %h3 Button Icons
  %tbody
    %tr
      %td
        %button.btn 
          %i.btn__icon.btn__icon--left.icon--settings{"aria-hidden" => "true"}
          Hello
      %td Button with left icon
      %td .btn__icon.btn__icon--left.icon--settings
    %tr
      %td
        %button.btn
          Hello 
          %i.btn__icon.btn__icon--right.icon--settings{"aria-hidden" => "true"}
      %td Button with right icon
      %td .btn__icon.btn__icon--right.icon--settings
    %tr
      %td
        %button.btn
          %i.btn__icon.icon--settings{"aria-hidden" => "true"}
      %td Icon button
      %td .btn__icon.icon--settings