@charset "utf-8";

@import 'normalize';

@import 'bourbon';
@import 'base/grid-settings';
@import 'neat';
@import 'base/base';


@import 'modules/buttons';


.container {
  max-width: 90%;
  margin: 20px auto;
  padding: 0 20px;
}