%table.table
  %thead
    %tr
      %th{colspan: '3'}
        %h3 Input sizes
  %tbody
    %tr
      %td
        %input.form-control{placeholder: "I'm an input", type: "text"}
      %td Input
      %td .form-control

    %tr
      %td
        %input.form-control.input--large{placeholder: "I'm an input", type: "text"}
      %td Large Input
      %td .form-control.form-control--large