%table.table
  %thead
    %tr
      %th{colspan: '3'}
        %h3 Select dropdowns
  %tbody
    %tr
      %td
        %select.form-control.form-control--select
          %option 1
          %option 2
          %option 3
          %option 4
          %option 5
      %td Input with icon
      %td .input-with-icon