.row
  .col-md-4
    %h3 Date input
    .bootstrap-datetimepicker-widget.bottom.picker-open.sg-show
      %ul.list-unstyled
        %li.collapse.in{:style => "height: auto;"}
          .datepicker
            .datepicker-days{:style => "display: block;"}
              %table.table-condensed
                %thead
                  %tr
                    %th.prev
                      %span.icon.icon--navigateleft{"aria-hidden" => "true"}
                    %th.picker-switch{:colspan => "5"} December 2014
                    %th.next
                      %span.icon.icon--navigateright{"aria-hidden" => "true"}
                  %tr.datepicker__days
                    %th.dow Sun
                    %th.dow Mon
                    %th.dow Tue
                    %th.dow Wed
                    %th.dow Thu
                    %th.dow Fri
                    %th.dow Sat
                %tbody
                  %tr
                    %td.day.old 30
                    %td.day.partial-book
                      1
                      %a{:href => "#"}
                    %td.day.disabled 2
                    %td.day.disabled 3
                    %td.day.disabled 4
                    %td.day.partial-book 
                      5
                      %a{:href => "#"}
                        .tooltip.tooltip--small.bottom-left.sg-show{:role => "tooltip"}
                          .tooltip-arrow
                          .tooltip-inner
                            Booked 9:30am - 5:30pm
                            %br
                            Booked 6pm - 9pm
                    %td.day 6
                  %tr
                    %td.day 7
                    %td.day.today 8
                    %td.day 9
                    %td.day 10
                    %td.day.active 11
                    %td.day.active 12
                    %td.day 13
                  %tr
                    %td.day 14
                    %td.day 15
                    %td.day.active 16
                    %td.day.disabled 17
                    %td.day.disabled 18
                    %td.day 19
                    %td.day.partial-book 
                      20
                      %a{:href => "#"}
                        .tooltip.tooltip--small.bottom-left.sg-show{:role => "tooltip"}
                          .tooltip-arrow
                          .tooltip-inner
                            Booked 9:30am - 5:30pm
                  %tr
                    %td.day.partial-book
                      21
                      %a{:href => "#"}
                    %td.day.disabled 22
                    %td.day 23
                    %td.day 24
                    %td.day.active 25
                    %td.day 26
                    %td.day 27
                  %tr
                    %td.day 28
                    %td.day.disabled 29
                    %td.day 30
                    %td.day 31
                    %td.day.new 1
                    %td.day.new 2
                    %td.day.new 3
                  %tr
                    %td.day.new 4
                    %td.day.new 5
                    %td.day.new 6
                    %td.day.new 7
                    %td.day.new 8
                    %td.day.new 9
                    %td.day.new 10

  .col-md-4
    %h3 Time input
    .bootstrap-datetimepicker-widget.bootstrap-datetimepicker-widget--time.picker-open.sg-show
      %ul.list-unstyled
        %li
          .timepicker
            .timepicker-picker.clearfix
              .timepicker__date 9th December 2014 
              
              .timepicker__hour.clearfix
                %a{"data-action" => "incrementHours", :href => "#"}
                  %span.icon.icon--navigateup

                %input.form-control{type: "text", "data-time-component" => "hours", value: "9"}

                %a{"data-action" => "decrementHours", :href => "#"}
                  %span.icon.icon--navigatedown
                    
              .timepicker__minute  
                %a{"data-action" => "incrementMinutes", :href => "#"}
                  %span.icon.icon--navigateup
                
                %input.form-control{type: "text", "data-time-component" => "minutes", value: "30"}


                %a{"data-action" => "decrementMinutes", :href => "#"}
                  %span.icon.icon--navigatedown
              
              .timepicker__ampm.clearfix
                %button.btn.btn--full{"data-action" => "togglePeriod", :type => "button"} AM

            %a.btn.btn--primary.btn--full{:href => "#"} Done
             
  .col-md-4
    %h3 Date input
    .bootstrap-datetimepicker-widget.bootstrap-datetimepicker-widget--date-time.bottom.picker-open.sg-show
      %ul.list-unstyled
        %li.collapse.in{:style => "height: auto;"}
          .datepicker
            .datepicker-days{:style => "display: block;"}
              %table.table-condensed
                %thead
                  %tr
                    %th.prev
                      %span.icon.icon--navigateleft{"aria-hidden" => "true"}
                    %th.picker-switch{:colspan => "5"} December 2014
                    %th.next
                      %span.icon.icon--navigateright{"aria-hidden" => "true"}
                  %tr.datepicker__days
                    %th.dow Sun
                    %th.dow Mon
                    %th.dow Tue
                    %th.dow Wed
                    %th.dow Thu
                    %th.dow Fri
                    %th.dow Sat
                %tbody
                  %tr
                    %td.day.old 30
                    %td.day 1
                    %td.day 2
                    %td.day 3
                    %td.day 4
                    %td.day 5
                    %td.day 6
                  %tr
                    %td.day 7
                    %td.day.today 8
                    %td.day 9
                    %td.day 10
                    %td.day 11
                    %td.day 12
                    %td.day 13
                  %tr
                    %td.day 14
                    %td.day 15
                    %td.day 16
                    %td.day 17
                    %td.day 18
                    %td.day 19
                    %td.day 20
                  %tr
                    %td.day 21
                    %td.day 22
                    %td.day 23
                    %td.day 24
                    %td.day 25
                    %td.day 26
                    %td.day 27
                  %tr
                    %td.day 28
                    %td.day 29
                    %td.day 30
                    %td.day 31
                    %td.day.new 1
                    %td.day.new 2
                    %td.day.new 3
                  %tr
                    %td.day.new 4
                    %td.day.new 5
                    %td.day.new 6
                    %td.day.new 7
                    %td.day.new 8
                    %td.day.new 9
                    %td.day.new 10

        %li
          .timepicker.timepicker--inline
            .timepicker-picker.clearfix

              .timepicker__hour.clearfix
                %a{"data-action" => "incrementHours", :href => "#"}
                  %span.icon.icon--navigateup

                %input.form-control{type: "text", "data-time-component" => "hours", value: "9"}

                %a{"data-action" => "decrementHours", :href => "#"}
                  %span.icon.icon--navigatedown
                    
              .timepicker__minute  
                %a{"data-action" => "incrementMinutes", :href => "#"}
                  %span.icon.icon--navigateup
                
                %input.form-control{type: "text", "data-time-component" => "minutes", value: "30"}


                %a{"data-action" => "decrementMinutes", :href => "#"}
                  %span.icon.icon--navigatedown
              
              .timepicker__ampm.clearfix
                %button.btn.btn--full{"data-action" => "togglePeriod", :type => "button"} AM

              .timepicker__btn
                %a.btn.btn--primary.btn--full{:href => "#"} Done
