%nav{role: "navigation"}
  %ul.nav.nav--inline.nav--bar
    %li.active{:role => "presentation"}
      %a{:href => "#"} Home
    %li{:role => "presentation"}
      %a{:href => "#"} Profile
    %li{:role => "presentation"}
      %a{:href => "#"} Messages
    %li{:role => "presentation"}
      %a{:href => "#"} Settings
    %li{:role => "presentation"}
      %a{:href => "#"} Account
    %li{:role => "presentation"}
      %a{:href => "#"} Listings