.row
  .col-md-3
    %h4 Tooltip top left
    .tooltip.tooltip--primary.top-left.sg-show{:role => "tooltip"}
      .tooltip-arrow
      .tooltip-inner
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
  .col-md-3
    %h4 Tooltip top right
    .tooltip.tooltip--primary.top-right.sg-show{:role => "tooltip"}
      .tooltip-arrow
      .tooltip-inner
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
  .col-md-3
    %h4 Tooltip bottom left
    .tooltip.tooltip--primary.bottom-left.sg-show{:role => "tooltip"}
      .tooltip-arrow
      .tooltip-inner
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
  .col-md-3
    %h4 Tooltip bottom right
    .tooltip.tooltip--primary.bottom-right.sg-show{:role => "tooltip"}
      .tooltip-arrow
      .tooltip-inner
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
