.row
  .col-md-3
    %h4 Tooltip top
    .tooltip.top.sg-show{:role => "tooltip"}
      .tooltip-arrow
      .tooltip-inner
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
  .col-md-3
    %h4 Tooltip right
    .tooltip.right.sg-show{:role => "tooltip"}
      .tooltip-arrow
      .tooltip-inner
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
  .col-md-3
    %h4 Tooltip bottom
    .tooltip.bottom.sg-show{:role => "tooltip"}
      .tooltip-arrow
      .tooltip-inner
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
  .col-md-3
    %h4 Tooltip left
    .tooltip.left.sg-show{:role => "tooltip"}
      .tooltip-arrow
      .tooltip-inner
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
