// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background) {
  color: $color;
  background-color: $background;

  &:hover {
    color: $color;
    background-color: darken($background, 10%);
  }
  &:focus,
  &:active,
  &.btn--active {
    color: $color;
    background-color: darken($background, 15%);
    outline: 0;
  }
  &.btn--disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.btn--active {
      background-color: $color-gray;
      color: white;
      cursor: not-allowed;
    }
  }
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  &.icon {
    // Sets height and width padding to the same to allow for square buttons when icons are used on their own.
    padding: $padding-vertical $padding-vertical;
  }
  &.icon.icon--left,
  &.icon.icon--right {
    // Resets padding from the above .icon for icons with text
    padding: $padding-vertical $padding-horizontal;
  }
  &.icon.icon--left:before {
    margin-right: $padding-horizontal;
  }
  &.icon.icon--right:after {
    margin-left: $padding-horizontal;
  }
}