%table.table
  %thead
    %tr
      %th{colspan: '2'} 
        %h3 Standard Alert styles
  %tbody
    %tr
      %td
        .alert.alert--success{:role => "alert"} Yo, I'm an Alert
      %td .alert.alert--success
    %tr
      %td
        .alert.alert--info{:role => "alert"} Yo, I'm an Alert
      %td .alert.alert--info or .alert.alert--warning
    %tr
      %td
        .alert.alert--danger{:role => "alert"} Yo, I'm an Alert
      %td .alert.alert--danger