---
title: Park & Fly with JustPark
---

%section.hero.hero--search
  .overlay.overlay--light.hero__overlay
    .vcenter
      .vcenter__content

        .container.container--search
          .search-box
            .row.text-center
              %img.logo.hero__logo{:src => "/images/logo.png", :width => "140px"}
              .col-md-12.text-left
                %p 
                  Use JustPark to help you find a secure long term parking space for airport travel, we provide long term parking, shuttle bus and car collection & drop off to make your airport parking as simple as possible.
                  %a{:href => "#more"} Learn more

            .row
              .col-md-12
                %select.form-control.form-control--select
                  %option Which airport are you flying from?
                  %option{:selected => "selected", :value => ""} London Gatwick
                  %option London Heathrow
                  %option Another airport
                  %option Another airport

            .row
              .col-md-6
                .input-with-icon
                  %input.form-control{placeholder: "Departing date", type: "text"}
                  .input-icon
                    %span.icon.icon--calendar
              
                .input-with-icon
                  %input.form-control{placeholder: "Departing time", type: "text"}
                  .input-icon
                    %span.icon.icon--clock

              .col-md-6
                .input-with-icon
                  %input.form-control{placeholder: "Returning date", type: "text"}
                  .input-icon
                    %span.icon.icon--calendar

                .input-with-icon
                  %input.form-control{placeholder: "Returning time", type: "text"}
                  .input-icon
                    %span.icon.icon--clock

            .row.text-center
              %a.btn.btn--primary.btn--large{:href => "/fly-search.html"}
                Find me a parking space 


  .search-nav.hero__search
    .search-nav__meta
      %h3 
        Gatwick Airport
        %a.icon.icon--info{:href => "/"}
      %p 
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        %a{:href => "#more"} Learn more

    %nav.search-results
      %ul.nav
        %li.search-results__listing.listing
          .listing__price
            %h3.price £45
          .listing__meta
            %h4.listing__title 
              %a{:href => "/fly-listing.html"} Gatwick long term parking + shuttle bus
            .listing__reviews
              362 reviews
          .listing__distance
        %li.search-results__listing.listing
          .listing__price
            %h3.price £45
          .listing__meta
            %h4.listing__title 
              %a{:href => "/fly-listing.html"} Gatwick long term parking + shuttle bus
            .listing__reviews
              362 reviews
          .listing__distance
        %li.search-results__listing.listing
          .listing__price
            %h3.price £45
          .listing__meta
            %h4.listing__title 
              %a{:href => "/fly-listing.html"} Gatwick long term parking + shuttle bus
            .listing__reviews
              362 reviews
          .listing__distance
        %li.search-results__listing.listing
          .listing__price
            %h3.price £45
          .listing__meta
            %h4.listing__title 
              %a{:href => "/fly-listing.html"} Gatwick long term parking + shuttle bus
            .listing__reviews
              362 reviews
          .listing__distance
        %li.search-results__listing.listing
          .listing__price
            %h3.price £45
          .listing__meta
            %h4.listing__title 
              %a{:href => "/fly-listing.html"} Gatwick long term parking + shuttle bus
            .listing__reviews
              362 reviews
          .listing__distance
        %li.search-results__listing.listing
          .listing__price
            %h3.price £45
          .listing__meta
            %h4.listing__title 
              %a{:href => "/fly-listing.html"} Gatwick long term parking + shuttle bus
            .listing__reviews
              362 reviews
          .listing__distance
        %li.search-results__listing.listing
          .listing__price
            %h3.price £45
          .listing__meta
            %h4.listing__title 
              %a{:href => "/fly-listing.html"} Gatwick long term parking + shuttle bus
            .listing__reviews
              362 reviews
          .listing__distance
        %li.search-results__listing.listing
          .listing__price
            %h3.price £45
          .listing__meta
            %h4.listing__title 
              %a{:href => "/fly-listing.html"} Gatwick long term parking + shuttle bus
            .listing__reviews
              362 reviews
          .listing__distance
        %li.search-results__listing.listing
          .listing__price
            %h3.price £45
          .listing__meta
            %h4.listing__title 
              %a{:href => "/fly-listing.html"} Gatwick long term parking + shuttle bus
            .listing__reviews
              362 reviews
          .listing__distance
        %li.search-results__listing.listing
          .listing__price
            %h3.price £45
          .listing__meta
            %h4.listing__title 
              %a{:href => "/fly-listing.html"} Gatwick long term parking + shuttle bus
            .listing__reviews
              362 reviews
          .listing__distance
        %li.search-results__listing.listing
          .listing__price
            %h3.price £45
          .listing__meta
            %h4.listing__title 
              %a{:href => "/fly-listing.html"} Gatwick long term parking + shuttle bus
            .listing__reviews
              362 reviews
          .listing__distance
        %li.search-results__listing.listing
          .listing__price
            %h3.price £45
          .listing__meta
            %h4.listing__title 
              %a{:href => "/fly-listing.html"} Gatwick long term parking + shuttle bus
            .listing__reviews
              362 reviews
          .listing__distance
        %li.search-results__listing.listing
          .listing__price
            %h3.price £45
          .listing__meta
            %h4.listing__title 
              %a{:href => "/fly-listing.html"} Gatwick long term parking + shuttle bus
            .listing__reviews
              362 reviews
          .listing__distance
        %li.search-results__listing.listing
          .listing__price
            %h3.price £45
          .listing__meta
            %h4.listing__title 
              %a{:href => "/fly-listing.html"} Gatwick long term parking + shuttle bus
            .listing__reviews
              362 reviews
          .listing__distance
            

       