---
title: JustPark Search
---

.container.container--full
  .search-map
    Google map

  .search-nav
    .search-nav__meta
      %h3 
        14th Avenue is really long, Vancouver
        %a.icon.icon--info{:href => "/"}

      .filter-date.clearfix
        .filter-date__from
          .input-with-icon
            %input.form-control{placeholder: "From", type: "text"}
            .input-icon
              %span.icon.icon--calendar

        .filter-date__until
          .input-with-icon
            %input.form-control{placeholder: "Until", type: "text"}
            .input-icon
              %span.icon.icon--calendar

      .filter-options.clearfix
        .filter-options__results
          %a.btn.btn--link{:href => "/"} Filter Results
        .filter-options__order
          %select.form-control.form-control--select
            %option{:selected => "selected", :value => ""} Please Choose
            %option 2
            %option 3
            %option 4
            %option 5

    %nav.search-results
      %ul.nav
        %li.search-results__listing.listing
          .listing__price
            %h3.price £760
            %span a month
          .listing__meta
            %h4.listing__title Haverstock hill, W1 TH
            .listing__reviews
              362 reviews
          .listing__distance
            49 minutes

        %li.search-results__listing.listing
          .listing__price
            %h3.price £760
            %span a month
          .listing__meta
            %h4.listing__title Haverstock hill with a long name, W1 TH
            .listing__reviews
              362 reviews
          .listing__distance
            49 minutes

        %li.search-results__listing.listing
          .listing__price
            %h3.price £760
            %span a month
          .listing__meta
            %h4.listing__title Haverstock hill, W1 TH
            .listing__reviews
              362 reviews
          .listing__distance
            49 minutes

        %li.search-results__listing.listing
          .listing__price
            %h3.price £760
            %span a month
          .listing__meta
            %h4.listing__title Haverstock hill with a long name, W1 TH
            .listing__reviews
              362 reviews
          .listing__distance
            49 minutes

        %li.search-results__listing.listing
          .listing__price
            %h3.price £760
            %span a month
          .listing__meta
            %h4.listing__title Haverstock hill, W1 TH
            .listing__reviews
              362 reviews
          .listing__distance
            49 minutes

        %li.search-results__listing.listing
          .listing__price
            %h3.price £760
            %span a month
          .listing__meta
            %h4.listing__title Haverstock hill with a long name, W1 TH
            .listing__reviews
              362 reviews
          .listing__distance
            49 minutes

        %li.search-results__listing.listing
          .listing__price
            %h3.price £760
            %span a month
          .listing__meta
            %h4.listing__title Haverstock hill, W1 TH
            .listing__reviews
              362 reviews
          .listing__distance
            49 minutes

        %li.search-results__listing.listing
          .listing__price
            %h3.price £760
            %span a month
          .listing__meta
            %h4.listing__title Haverstock hill with a long name, W1 TH
            .listing__reviews
              362 reviews
          .listing__distance
            49 minutes

        %li.search-results__listing.listing
          .listing__price
            %h3.price £760
            %span a month
          .listing__meta
            %h4.listing__title Haverstock hill, W1 TH
            .listing__reviews
              362 reviews
          .listing__distance
            49 minutes

        %li.search-results__listing.listing
          .listing__price
            %h3.price £760
            %span a month
          .listing__meta
            %h4.listing__title Haverstock hill with a long name, W1 TH
            .listing__reviews
              362 reviews
          .listing__distance
            49 minutes

        %li.search-results__listing.listing
          .listing__price
            %h3.price £760
            %span a month
          .listing__meta
            %h4.listing__title Haverstock hill, W1 TH
            .listing__reviews
              362 reviews
          .listing__distance
            49 minutes

        %li.search-results__listing.listing
          .listing__price
            %h3.price £760
            %span a month
          .listing__meta
            %h4.listing__title Haverstock hill with a long name, W1 TH
            .listing__reviews
              362 reviews
          .listing__distance
            49 minutes





