%table.table
  %thead
    %tr
      %th{colspan: '3'}
        %h3 Marker styles
  %tbody
    %tr
      %td
        .marker
          %span.marker__currency> $
          100
      %td Marker
      %td .marker
    %tr
      %td
        .marker.marker--primary
          %span.marker__currency> $
          100
      %td Primary marker
      %td .marker.marker--primary
    %tr
      %td
        .marker.marker--secondary
          %span.marker__currency> $
          100
      %td Secondary marker
      %td .marker.marker--secondary
    %tr
      %td
        %ul.markers-stacked
          %li.marker
            %span.marker__currency> $
            100
          %li.marker
            %span.marker__currency> $
            100
          %li.marker
            %span.marker__currency> $
            100
      %td Stacked markers
      %td .markers-stacked
    %tr
      %td
        .markers-grouped
          .markers-grouped__inner
            %span.marker__currency> $
            100

      %td Grouped markers
      %td .markers-grouped
