%table.table
  %thead
    %tr
      %th
        Table head
      %th
        Table head
      %th
        Table head
      %th
        Table head
  %tbody
    %tr
      %td
        Table content
      %td
        Table content
      %td
        Table content
      %td
        Table content
    %tr
      %td
        Table content
      %td
        Table content
      %td
        Table content
      %td
        Table content
    %tr
      %td
        Table content
      %td
        Table content
      %td
        Table content
      %td
        Table content
    %tr
      %td
        Table content
      %td
        Table content
      %td
        Table content
      %td
        Table content
    %tr
      %td
        Table content
      %td
        Table content
      %td
        Table content
      %td
        Table content
    %tr
      %td
        Table content
      %td
        Table content
      %td
        Table content
      %td
        Table content
    %tr
      %td
        Table content
      %td
        Table content
      %td
        Table content
      %td
        Table content