%table.table
  %thead
    %tr
      %th{colspan: '3'}
  %tbody
    %tr
      %td
        .tag
          Tag
          %a.tag__icon.tag__icon--right.icon--delete{:href => "#", "aria-hidden" => "true"}
      %td Tag
      %td .tag

    %tr
      %td
        .tag.tag--primary
          Tag
          %a.tag__icon.tag__icon--right.icon--delete{:href => "#", "aria-hidden" => "true"}
      %td Primary tag
      %td .tag.tag--primary

    %tr
      %td
        .tag.tag--secondary
          Tag
          %a.tag__icon.tag__icon--right.icon--delete{:href => "#", "aria-hidden" => "true"}
      %td Secondary tag
      %td .tag.tag--secondary

    %tr
      %td
        .tag.tag--negative
          Tag
          %a.tag__icon.tag__icon--right.icon--delete{:href => "#", "aria-hidden" => "true"}
      %td Negative tag
      %td .tag.tag--negative