.btn {
  -webkit-font-smoothing: antialiased;
  border-radius: $base-border-radius;
  color: white;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  @include appearance(none);
  @include transition(all 0.2s ease-in-out);
  @include button-size($btn-padding-vertical, $btn-padding-horizontal, $base-font-size, 1);
  @include button-variant($base-font-color, $color-gray);
}

// Button Styles
.btn--primary {
  @include button-variant(white, $color-primary);
}

.btn--secondary {
  @include button-variant(white, $color-secondary);
}

.btn--negative {
  @include button-variant(white, $color-red);
}

.btn--full {
  display: block;
  width: 100%;
}

.btn--soft {
  border-radius: 80px;
}
.btn--hard {
  border-radius: 0;
}
.btn--natural {
  vertical-align: baseline;
  @include button-size(0, $btn-padding-horizontal*0.3, inherit, inherit);
}

// Button Sizes
.btn--small {
  @include button-size($btn-padding-vertical*0.5, $btn-padding-horizontal*0.5, $base-font-size, 1);
}
.btn--large {
  @include button-size($btn-padding-vertical*1.5, $btn-padding-horizontal*1.5, $base-font-size, 1);
}
.btn--huge {
  @include button-size($btn-padding-vertical*2, $btn-padding-horizontal*2, $base-font-size, 1);
}

// Buttons with text increases
.btn--alpha {
  @include button-size($btn-padding-vertical*2, $btn-padding-horizontal*2, $base-font-size*2, 1);
}
.btn--beta {
  @include button-size($btn-padding-vertical*1.5, $btn-padding-horizontal*1.5, $base-font-size*1.5, 1);
}

// Buttons with icons
.btn.icon {
  &:before, &:after {
    vertical-align: middle;
  }
}


